In [20]:
# Creating vectors/factors and dataframes
# Create the vectors/factors
sex <- c("M", "F")
stage <- c("I","II","II")
treatment <- c("A","A","A","A","B","B","B","B","P","P","P","P")
myc <- c("2343","457","4593","9035","3450","3524","958","1053","8674","3424","463","5105")

In [21]:
# Create a dataframe from the above
meta <- data.frame(sex, stage, treatment, myc)

In [22]:
# Add row names to the dataframe
rownames(meta) <- paste("sample", 1:12, sep="")

In [23]:
# Here is the dataframe
meta

         sex stage treatment myc
sample1  M   I     A         2343
sample2  F   II    A         457
sample3  M   II    A         4593
sample4  F   I     A         9035
sample5  M   II    B         3450
sample6  F   II    B         3524
sample7  M   I     B         958
sample8  F   II    B         1053
sample9  M   II    P         8674
sample10 F   I     P         3424
sample11 M   II    P         463
sample12 F   II    P         5105

In [24]:
# Subsetting vectors/factors and dataframes
# return only the treatment and sex columns using []
meta[ , c(1,3)]

         sex treatment
sample1  M   A
sample2  F   A
sample3  M   A
sample4  F   A
sample5  M   B
sample6  F   B
sample7  M   B
sample8  F   B
sample9  M   P
sample10 F   P
sample11 M   P
sample12 F   P

In [25]:
# return the treatment values for samples 5, 7, 9, and 10 using []
meta[c(5,7,9,10), 3]

[1] B B P P
Levels: A B P

In [26]:
# use subset() to return all data for those samples receiving treatment P
subset(meta, treatment == "P")

         sex stage treatment myc
sample9  M   II    P         8674
sample10 F   I     P         3424
sample11 M   II    P         463
sample12 F   II    P         5105

In [32]:
# use filter()/select()to return only the stage and treatment columns for those samples with myc > 5000
subset(meta, myc > 5000, select = c("stage", "treatment"))

Warning message in Ops.factor(myc, 5000):
"'>' not meaningful for factors"

     stage treatment

In [33]:
# remove the treatment column from the dataset using []
meta[, -3]

         sex stage myc
sample1  M   I     2343
sample2  F   II    457
sample3  M   II    4593
sample4  F   I     9035
sample5  M   II    3450
sample6  F   II    3524
sample7  M   I     958
sample8  F   II    1053
sample9  M   II    8674
sample10 F   I     3424
sample11 M   II    463
sample12 F   II    5105

In [34]:
# remove samples 7, 8 and 9 from the dataset using []
meta[-7:-9, ]

         sex stage treatment myc
sample1  M   I     A         2343
sample2  F   II    A         457
sample3  M   II    A         4593
sample4  F   I     A         9035
sample5  M   II    B         3450
sample6  F   II    B         3524
sample10 F   I     P         3424
sample11 M   II    P         463
sample12 F   II    P         5105

In [35]:
# keep only samples 1-6 using []
meta [1:6, ]

        sex stage treatment myc
sample1 M   I     A         2343
sample2 F   II    A         457
sample3 M   II    A         4593
sample4 F   I     A         9035
sample5 M   II    B         3450
sample6 F   II    B         3524

In [36]:
# add a column called pre_treatment to the beginning of the dataframe with the values T, F, F, F, T, T, F, T, F, F, T, T (Hint: use cbind())
pre_treatment <- c(T, F, F, F, T, T, F, T, F, F, T, T)
cbind(pre_treatment, meta)

         pre_treatment sex stage treatment myc
sample1   TRUE         M   I     A         2343
sample2  FALSE         F   II    A         457
sample3  FALSE         M   II    A         4593
sample4  FALSE         F   I     A         9035
sample5   TRUE         M   II    B         3450
sample6   TRUE         F   II    B         3524
sample7  FALSE         M   I     B         958
sample8   TRUE         F   II    B         1053
sample9  FALSE         M   II    P         8674
sample10 FALSE         F   I     P         3424
sample11  TRUE         M   II    P         463
sample12  TRUE         F   II    P         5105

In [38]:
# change the names of the columns to: “A”, “B”, “C”, “D”
colnames(meta) <- c("A", "B", "C", "D")
meta

         A B  C D
sample1  M I  A 2343
sample2  F II A 457
sample3  M II A 4593
sample4  F I  A 9035
sample5  M II B 3450
sample6  F II B 3524
sample7  M I  B 958
sample8  F II B 1053
sample9  M II P 8674
sample10 F I  P 3424
sample11 M II P 463
sample12 F II P 5105